:root {
  --background: #fff;
  --background-dark: #eef0f5;
  --foreground: #212427;
  --foreground-light: #747474;
  --foreground-dark: #08090a;
  --primary: #8794a8;
  --primary-dark: #647287;
  --primary-light: #b8c1ce;
  --primary-foreground: #fff;
  --primary-foreground-dark: #eef0f5;
  --black: "#212427";
  --white: "#FFF";
  --gray: "#efefef";
}
